body{
	background-color:#000000;
	overflow:hidden;
}

#container{
	position: absolute;
	width: 1024px;
	height: 768px;
  background-image: url("/static/casino.jpg");	
}

.roll{
  width: 247px;
  margin: 3px;
  float: left;
  overflow: hidden;
  position: relative;
/* border-right: 3px solid white;
/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif; */
}

.number{
  text-align: center;
	margin-top:auto;
  margin-bottom:auto;
	width:80px;
  line-height: 46px;
  font-size: 40px;
	color: #FFFFFF;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-radius: 0.3em;
}
#lastroll{
	width: 230px;
  line-height: 150px;
  font-size: 120px;
}
.red{
	background-color:#CC0000;
	float: left;
	margin-left: 10px;
}
.green{
	background-color:#009900;
	margin: 0 auto;
}
.black{
	background-color:#000000;
	float: right;
	margin-right: 10px;
}

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
